body{
	background:url(kfr.jpg);
	background-size:cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
	
}

.login-box{
	
	max-width:800px;
	float:none;
	margin:150px auto;
	margin-top: 400px;
	margin-left: 50px;


		
	
}
.login-left{
	background: #fff;
	padding: 30px;
}

.login-right{
	
	background: #fff;
	padding: 30px;
}

.form-control{
	background-color: transparent !important;
}